@import "./main";

/*****************************************/
/**************** GENERAL ****************/
/*****************************************/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
#loading-spinner{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  top: 0;
  z-index: 9999;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidden 2s forwards;
  div{
    width: 100px;
    height: 100px; 
    background-color: $tertiary;   
    border: 10px solid $secondary;
    border-radius: 50%;
    border-top: 10px solid $primary;
    animation: spin 0.5s linear infinite;  
    
   
  }
  span{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
    font-family: Shrikhand ;
    color: gray;
  }
}
section {
  padding: 32px;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
}
h3 {
  font-weight: 600;
  margin-bottom: 8px;
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
}
/*****************************************/
/**************** Local ******************/
/*****************************************/
#local {
  justify-content: center;
  align-items: center;
  height: 35px;
  background: $grey;
  h2 {
    font: {
      weight: 400;
      size: 1.2rem;
    }
  }
  .map__icon {
    margin-right: 20px;
    font-size: 1.25rem;
  }
}

/*****************************************/
/***************** Explo *****************/
/*****************************************/
#explo {
  background: $ligthgrey;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  h2 {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 45px;
  }
}
/*****************************************/
/*************** Operation ***************/
/*****************************************/
#operation {
  padding: 50px 16px 70px 16px;
  div {
    margin: 10px 8px 0 12px;
    padding: 0;
  }
  ol {
    list-style: none;
    position: relative;
    counter-reset: li;
    li {
      background-color: $ligthgrey;
      padding: 25px 0 25px 0;
      margin-top: 25px;
      border-radius: 24px;
      justify-content: space-between;
      box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
      counter-increment: li;
      &::before {
        content: counter(li);
        color: $white;
        background: $primary;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        margin-left: -13px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background: lighten($color: $primary, $amount: 30%);
        i {
          color: $primary;
        }
      }
    }
  }
  .ope__icon {
    margin-right: 20px;
    margin-left: 20px;
    width: 24px;
    font-size: 20px;
    color: gray;
    text-align: center;
  }
}
/*****************************************/
/************** Restaurants **************/
/*****************************************/

#restaurants {
  background: $ligthgrey;
  padding-top: 70px;
  .__restauContainer {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1024px) {
  #operation {
    @include size-desktop;
    ol {
      flex-direction: row;
      li {
        flex: 1;
        margin: 25px 0 0 25px;
      }
    }

    li:first-child {
      margin-left: 0;
    }
  }
  #restaurants {
    @include size-desktop;
    .__restauContainer {
      flex-direction: row;
      flex-basis: 100%;
      justify-content: space-between;
    }
    .--col1,
    .--col2 {
      flex-basis: 45%;
    }
  }
}
