@import "./main";

/*****************************************/
/**************** GENERAL ****************/
/*****************************************/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
section {
  padding: 32px;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
}
h3 {
  font-weight: 600;
  margin-bottom: 8px;
}
p{
  font-weight: 300;
}
a {
  text-decoration: none;
}
/*****************************************/
/*************** Location ****************/
/*****************************************/
.local{
  justify-content: center;
  align-items: center;
  height: 35px;
  background: $grey;
  h2 {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .map__icon{
    margin-right: 20px;
    font-size: 1.25rem;
  } 
}

/*****************************************/
/*************** Discovery ***************/
/*****************************************/
#discovery {
  background: $ligthgrey;
  justify-content: center;
  text-align: center;
  height: 350px;
  padding-bottom: 50px;
  h2{
    margin-bottom: 25px;
  }
  p {    
    margin-bottom: 45px;
  }
}
/*****************************************/
/*************** Operating ***************/
/*****************************************/
#operating {
  padding: 65px 30px 90px 30px;  
  .__operatingContainer{
    margin-top: 10px;
    padding: 0 16px 0 16px;
  }
  ol {
    list-style: none;
    position: relative;
    counter-reset: li;
    li {
      background-color: $ligthgrey;
      padding: 28px;
      margin-top: 25px;
      border-radius: 24px;
      justify-content: space-between;
      box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
      counter-increment: li;
      &::before {
        content: counter(li);
        color: $white;
        background: $primary;
        width: 30px;
        line-height: 30px;
        border-radius: 50%;
        position: absolute;
        margin-left: -45px;
        text-align: center;
      }
      &:hover {
        background: lighten($color: $primary, $amount: 30%);
        i {
          color: $primary;
        }
      }
    }
  }
  .fas {
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 3px;
    width: 24px;
    line-height: 25px;
    font-size: 24px;
    color: gray;
  }
}
/*****************************************/
/************** Restaurants **************/
/*****************************************/

#restaurants {
  background: $ligthgrey; 
  padding-top: 70px;
  @include home-card;
  .__restauContainer{
    margin-top: 35px;
  }
}

@media screen and (min-width:1000px){
  #operating{
    .__operatingContainer ol {
      flex-direction: row;
      justify-content: space-around;      
    }
    li{
      flex:1;
      margin: 0 0 0 32px;      
    }
    li:first-child{
      margin-left: 10px;
    }
  }
  #restaurants{
    .__restauContainer{
      flex-direction: row;
      flex-basis: 100%; 
      justify-content: space-between;     
    }
    .--col1,.--col2{
      flex-basis: 45%;
      
      
    }
    

  }
   
}