@import "./main";


#location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: $grey;    
    }
.fas{
    margin-right: 10px;
}
#discovery{
    background: $greylocation;
    display: flex;
    flex-direction: column;
    
}