@import "./main";
header{
    display: flex;
    .btn__return{
        position: relative;
        left: 10px;
        line-height: 34px;
        color: $black;
    }
    
}
main{
    img{
        border-radius: unset;
    }
}
.button{
    margin-top: 60px;
    margin-bottom: 70px;
.btn{    
    &--primary{
        padding:20px 60px 20px 60px ;
    }
}
}