article {
  background: $white;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.15);
}

figure {
  flex-basis: 100%;
  height: 300px;

  a {
    text-decoration: none;
    color: $black;
    width: 100%;
    position: relative;
    height: 70%;
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      border-radius: 16px 16px 0 0;
      object-fit: cover;
    }
    span {
      background: $tertiary;
      border-radius: 2px;
      padding: 5px;
      color: darken($color: $tertiary, $amount: 40%);
      position: absolute;
      margin-top: 15px;
      margin-left: -105px;
    }
  }

  figcaption {
    height: 30%;
    padding: 22px 30px 0 15px;
    justify-content: space-between;
  .heart{
    position: relative;
    .empty-heart,.full-heart{
      width: 24px;
      height: 24px;
    }
    .empty-heart{
    
      z-index: -1;
      cursor: pointer;
          fill: #818181;        
          transition: .4s;
          width: 24px;
      height: 24px;
    } 
    .full-heart{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
      opacity: 0;
      transform-origin: 50% 100%;
      &:active {     
        animation: heart .4s;
        fill: #9356DC;
        opacity: 1;
        
      }
      
    } 
  }
  
  
  }
}
