#menu {
  //animated heart
  #box-heart {
    flex-basis: 100%;
    justify-content: space-between;
    @include like;
    .heart {
      margin-right: 25px;
    }
  }
  section {
    margin-bottom: 55px;
    h3 {
      position: relative;
      padding-bottom: 0.5rem;
      margin-bottom: 16px;
      &::after {
        content: "";
        background-color: $tertiary;
        width: 45px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    //Loop of the animation of the menu cards
    @for $i from 1 to 6 {
      .entry:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
      }
    }
    @for $i from 1 to 6 {
      .plat:nth-child(#{$i}n) {
        animation-delay: #{0.3 + $i * 0.1}s;
      }
    }
    @for $i from 1 to 6 {
      .dessert:nth-child(#{$i}n) {
        animation-delay: #{0.6 + $i * 0.1}s;
      }
    }
    article {
      padding: 16px;
      justify-content: space-between;
      animation: appear 0.6s both;
      transform: translateY(0);
      transition-timing-function: cubic-bezier(0, 0.54, 1, 0.69);
      overflow: hidden;
      h4 {
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }
      .designation {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-basis: 85%;
        h4,
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 20px;
          flex-basis: 100%;
        }
      }
      .price {
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        opacity: 0.6;
        justify-content: center;
        width: 15%;
        z-index: 1;
      }
      .check {
        background-color: #99e2d0;
        margin: -1rem -8rem -1rem 1rem;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;
      }
      i {
        transform: rotate(-360deg);
        transition-duration: 0.5s;
        color: white;
        font-size: 35px;
      }
      &:hover > .check {
        margin-right: -1rem;
      }
      &:hover > .check i {
        transform: rotate(0deg);
      }
    }
  }
}
