#menu {
 
  #box-heart{
    flex-basis: 100%;
    justify-content: space-between;  
    @include like;
    .heart{
      margin-right: 25px;
    }
  }
  section {
    margin-bottom: 55px;
    
    h3 {
      position: relative;
      padding-bottom: 0.5rem;
      margin-bottom: 16px;
      &::after {
        content: "";
        background-color: $tertiary;
        width: 45px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    article {
      padding: 16px;
      justify-content: space-between;
      h4 {
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }
      .designation {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-basis: 85%;
        h4,
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 20px;
          flex-basis: 100%;
        }
      }
      .price {
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        opacity: 0.6;        
        justify-content: center;
      }
      .check {
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
