#menu {
  background: $ligthgrey;
  @include rounded(30px 30px 0 0);
  position: relative;
  margin-top: -70px;
  padding: 32px 20px 30px 20px;
  z-index: 1;
  section {
    margin-bottom: 55px;
    flex-basis: 30%;
    h3 {
      position: relative;
      padding-bottom: 0.5rem;
      margin-bottom: 16px;
      &::after {
        content: "";
        background-color: $tertiary;
        width: 45px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    article {
      padding: 16px;
      height: 75px;
      h4 {
        font-weight: 400;
        margin-bottom: 10px;  
      }
      h4,div p:first-child{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div {
        justify-content: space-between;

        strong {
          font-weight: bold;
        }
      }
    }
  }
}
