footer {
  background: $greyfooter;
  div {
    @include size-desktop;
    padding: 32px;
    h1 {
      font-family: "Shrikhand";
      font-size: 1.5rem;
      color: $white;
      margin-bottom: 20px;
    }
    ul li {
      margin-bottom: 15px;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          border-bottom: $white solid 1px;
        }
      }
    }
  }
}
.fa-utensils,
.fa-hands-helping {
  color: $white;
  width: 15px;
  height: 19px;
  margin-right: 20px;
}
.fa-hands-helping {
  font-size: 0.85rem;
}
@media screen and (min-width: 1024px){
  footer div{
  padding-left: 0;
  padding-right: 0;
  }
}
