@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.btn {
  background: linear-gradient(#FF79DA, #9356dc);
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 32px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
  transition: opacity 100ms, box-shadow 200ms ease-in; }
  .btn:hover {
    box-shadow: 6px 8px 10px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.8; }

article {
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.15); }

figure {
  flex-basis: 100%;
  height: 300px; }
  figure a {
    text-decoration: none;
    color: #000000;
    width: 100%;
    position: relative;
    height: 70%; }
    figure a img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      border-radius: 16px 16px 0 0;
      -o-object-fit: cover;
         object-fit: cover; }
    figure a span {
      background: #99E2D0;
      border-radius: 2px;
      padding: 5px;
      color: #278870;
      position: absolute;
      margin-top: 15px;
      margin-left: -105px; }
  figure figcaption {
    height: 30%;
    padding: 22px 30px 0 15px;
    justify-content: space-between; }
    figure figcaption .heart {
      position: relative; }
      figure figcaption .heart .empty-heart,
      figure figcaption .heart .full-heart {
        width: 30px;
        height: 30px; }
      figure figcaption .heart .empty-heart {
        z-index: -1;
        fill: #818181; }
      figure figcaption .heart .full-heart {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        opacity: 0;
        fill: #FF79DA; }
      figure figcaption .heart:hover .full-heart {
        -webkit-animation: heart 0.4s;
                animation: heart 0.4s;
        opacity: 0.95; }

#menu #box-heart {
  flex-basis: 100%;
  justify-content: space-between; }
  #menu #box-heart .heart {
    position: relative; }
    #menu #box-heart .heart .empty-heart,
    #menu #box-heart .heart .full-heart {
      width: 30px;
      height: 30px; }
    #menu #box-heart .heart .empty-heart {
      z-index: -1;
      fill: #818181; }
    #menu #box-heart .heart .full-heart {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
      opacity: 0;
      fill: #FF79DA; }
    #menu #box-heart .heart:hover .full-heart {
      -webkit-animation: heart 0.4s;
              animation: heart 0.4s;
      opacity: 0.95; }
  #menu #box-heart .heart {
    margin-right: 25px; }

#menu section {
  margin-bottom: 55px; }
  #menu section h3 {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 16px; }
    #menu section h3::after {
      content: "";
      background-color: #99E2D0;
      width: 45px;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0; }
  #menu section .entry:nth-child(1n) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  #menu section .entry:nth-child(2n) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  #menu section .entry:nth-child(3n) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  #menu section .entry:nth-child(4n) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  #menu section .entry:nth-child(5n) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  #menu section .plat:nth-child(1n) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  #menu section .plat:nth-child(2n) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  #menu section .plat:nth-child(3n) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  #menu section .plat:nth-child(4n) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s; }
  #menu section .plat:nth-child(5n) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s; }
  #menu section .dessert:nth-child(1n) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s; }
  #menu section .dessert:nth-child(2n) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s; }
  #menu section .dessert:nth-child(3n) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }
  #menu section .dessert:nth-child(4n) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  #menu section .dessert:nth-child(5n) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s; }
  #menu section article {
    padding: 16px;
    justify-content: space-between;
    -webkit-animation: appear 0.6s both;
            animation: appear 0.6s both;
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0, 0.54, 1, 0.69);
    overflow: hidden; }
    #menu section article h4 {
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 1.2rem; }
    #menu section article .designation {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex-basis: 85%; }
      #menu section article .designation h4,
      #menu section article .designation p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 20px;
        flex-basis: 100%; }
    #menu section article .price {
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      opacity: 0.6;
      justify-content: center;
      width: 15%;
      z-index: 1; }
    #menu section article .check {
      background-color: #99e2d0;
      margin: -1rem -8rem -1rem 1rem;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.5s; }
    #menu section article i {
      transform: rotate(-360deg);
      transition-duration: 0.5s;
      color: white;
      font-size: 35px; }
    #menu section article:hover > .check {
      margin-right: -1rem; }
    #menu section article:hover > .check i {
      transform: rotate(0deg); }

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes hidden {
  to {
    visibility: hidden; } }

@keyframes hidden {
  to {
    visibility: hidden; } }

@-webkit-keyframes heart {
  0% {
    transform: scaleX(0);
    opacity: 0.1; }
  25% {
    transform: scaleX(0.25);
    opacity: 0.3; }
  50% {
    transform: scaleX(0.5);
    opacity: 0.5; }
  85% {
    transform: scaleX(0.75);
    opacity: 0.7; }
  100% {
    transform: scale(1); } }

@keyframes heart {
  0% {
    transform: scaleX(0);
    opacity: 0.1; }
  25% {
    transform: scaleX(0.25);
    opacity: 0.3; }
  50% {
    transform: scaleX(0.5);
    opacity: 0.5; }
  85% {
    transform: scaleX(0.75);
    opacity: 0.7; }
  100% {
    transform: scale(1); } }

@-webkit-keyframes appear {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes appear {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.d-flex {
  display: flex; }

.f-column {
  flex-direction: column; }

footer {
  background: #353535;
  padding: 32px; }
  footer div {
    max-width: 1280px;
    margin: 0 auto; }
    footer div h1 {
      font-family: "Shrikhand";
      font-size: 1.5rem;
      color: #ffffff;
      margin-bottom: 20px; }
    footer div ul li {
      margin-bottom: 15px; }
      footer div ul li a {
        color: #ffffff;
        text-decoration: none; }
        footer div ul li a:hover {
          border-bottom: #ffffff solid 1px; }

.fa-utensils,
.fa-hands-helping {
  color: #ffffff;
  width: 15px;
  height: 19px;
  margin-right: 20px; }

.fa-hands-helping {
  font-size: 0.85rem; }

header {
  padding: 16px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000; }
  header h1 {
    font-family: "Shrikhand";
    font-size: 2.5rem;
    display: block;
    width: 196px;
    margin: auto; }

/*****************************************/
/**************** GENERAL ****************/
/*****************************************/
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem; }

#loading-spinner {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  top: 0;
  z-index: 9999;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: hidden 2s forwards;
          animation: hidden 2s forwards; }
  #loading-spinner div {
    width: 100px;
    height: 100px;
    background-color: #99E2D0;
    border: 10px solid #FF79DA;
    border-radius: 50%;
    border-top: 10px solid #9356dc;
    -webkit-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite; }
  #loading-spinner span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
    font-family: Shrikhand;
    color: gray; }

section {
  padding: 32px; }

h2 {
  font-size: 1.7rem;
  font-weight: 900; }

h3 {
  font-weight: 600;
  margin-bottom: 8px; }

p {
  font-weight: 300; }

a {
  text-decoration: none; }

/*****************************************/
/**************** Local ******************/
/*****************************************/
#local {
  justify-content: center;
  align-items: center;
  height: 35px;
  background: #EAEAEA; }
  #local h2 {
    font-weight: 400;
    font-size: 1.2rem; }
  #local i {
    margin-right: 20px;
    font-size: 1.25rem; }

/*****************************************/
/***************** Explo *****************/
/*****************************************/
#explo {
  background: #f3f3f3;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px; }
  #explo h2 {
    margin-bottom: 25px; }
  #explo p {
    margin-bottom: 45px; }

/*****************************************/
/*************** Operation ***************/
/*****************************************/
#operation {
  padding-top: 50px;
  padding-bottom: 70px; }
  #operation div {
    margin: 10px 8px 0 12px;
    padding: 0; }
  #operation ol {
    list-style: none;
    position: relative;
    counter-reset: li; }
    #operation ol li {
      background-color: #f3f3f3;
      padding: 25px 0 25px 0;
      margin-top: 25px;
      border-radius: 24px;
      justify-content: space-between;
      box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25);
      counter-increment: li; }
      #operation ol li::before {
        content: counter(li);
        color: #ffffff;
        background: #9356dc;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        margin-left: -13px;
        display: flex;
        justify-content: center;
        align-items: center; }
      #operation ol li:hover {
        background: #e4d5f6; }
        #operation ol li:hover i {
          color: #9356dc; }
  #operation i {
    margin-right: 20px;
    margin-left: 20px;
    width: 24px;
    font-size: 20px;
    color: gray;
    text-align: center; }

/*****************************************/
/************** Restaurants **************/
/*****************************************/
#restaurants {
  background: #f3f3f3;
  padding-top: 50px; }
  #restaurants > div {
    margin-top: 35px; }

/*****************************************/
/*****  Layout for different screens  ****/
/*****************************************/
@media screen and (min-width: 1024px) {
  #operation div {
    max-width: 1280px;
    margin: 0 auto; }
  #operation ol {
    flex-direction: row; }
    #operation ol li {
      flex: 1;
      margin: 25px 0 0 25px; }
  #operation li:first-child {
    margin-left: 0; }
  #restaurants > div,
  #restaurants > h2 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
  #restaurants > div {
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between; }
    #restaurants > div article {
      flex-basis: 45%; } }

